/* src/QuestionMarkIcon.css */
.question-mark-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.question-mark {
font-size: 16px;
font-weight: bold;
background-color: #000000;
border-radius: 50%;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.tooltip-text {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(192, 192, 192);
    color: #000000;
    padding: 1rem;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000; /* Ensure the tooltip is in front of other elements */
    display: none; /* Default to hidden */
    pointer-events: none; /* Ensure the tooltip does not interfere with mouse events */
}

.question-mark-container:hover .tooltip-text {
display:block; /* Show on hover */
background-color: rgb(192, 192, 192);
color:#000000;
max-width: 1500px;
padding: 1rem;

}


