* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg)
}

a{
    color: unset;
    text-decoration: none;
}

.gradient__bg
{
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(0, 50, 46, 1) 0%, rgba(3, 20, 63, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(0, 50, 46, 1) 0%, rgba(3, 20, 63, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(0, 50, 46, 1) 0%, rgba(3, 20, 63, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03143F', endColorstr='#00322E', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(0, 50, 46, 1) 0%, rgba(3, 20, 63, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(0, 50, 46, 1) 0%, rgba(3, 20, 63, 1) 100%);
}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text ;
    -webkit-text-fill-color: transparent;
}

.section__padding{
    padding: 4rem 6rem;
}

.section__margin{
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.camera__container__section {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
    
}



 
@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}

@media screen and (max-width: 550px){
    .section__padding{
        padding: 4rem 2rem;
    }
    
    .section__margin{
        margin: 4rem 2rem;
    }
}

@media screen and (max-width: 700px){
    .section__padding{
        padding: 4rem;
    }
    
    .section__margin{
        margin: 4rem;
    }
}

.camera{
    margin-left: 5rem;
}
  
