.invisible {
    display: none;
}

video {
    clear: both; 
}
#webcam2d
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

button.btn {
    margin: 20px;
    padding: 10px;
    background-color: #4e83e5;
    color: white;
}

#output_canvas2d {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    margin: 0;
    padding: 0;
    width: 1280px;
}