

.invisible {
    display: none;
}



.mp2d {
    display: flex;
    flex-direction: row;
}

.box {
    position: relative;
    width: 70%; /* Set the width of the container to 100% */
    height: 300px;
    box-sizing: border-box;
    margin-right: 0;
}

.box2 {

    width: 30%; /* Adjust the width as needed */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem;

}

#webcam {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height:  auto;
    z-index: 1; 
    
    border: 5px solid rgba(0, 0, 0, 0.558);
    border-radius: 15px;
}

.output_canvas {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto; 
    z-index: 2; 
} 

.camera_btn_container{
    display: flex;
    flex-direction: column;
    background-color: green;
}

.mpbtn {
    margin-top: rem ;
    margin-bottom: 0.25rem ;
    color: #fff; /* text */
    background: #2067ff; /* button */
    left: 1153px;
    top: 55px;
    font-family: var(--font-family);
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    border:0;
    outline: none;
    cursor: pointer;
    border: 2px solid #000000; /* Just for visualization */

}