.invisible {
    display: none;
}
#cambutton {
    margin: 20px;
    padding: 10px;
    background-color: #4e83e5;
    color: white;
}

#webcam3d
{
    clear: both;
}

#predictionoutput
{
    overflow: scroll;
    max-height: 400px;
    width: 50%;
}
#inferenceelements
{
    display: none;
}

#output_canvas3d {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}